* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes increaseFontWeight {
  0% { font-weight: 100; }
  14.3% { font-weight: 200; }
  28.6% { font-weight: 300; }
  42.9% { font-weight: 400; }
  57.2% { font-weight: 500; }
  71.5% { font-weight: 600; }
  85.8% { font-weight: 700; }
  100% { font-weight: 800; }
}

@keyframes decreaseFontWeight {
  0% { font-weight: 800; }
  14.3% { font-weight: 700; }
  28.6% { font-weight: 600; }
  42.9% { font-weight: 500; }
  57.2% { font-weight: 400; }
  71.5% { font-weight: 300; }
  85.8% { font-weight: 200; }
  100% { font-weight: 100; }
}

.hovering {
  animation: increaseFontWeight 0.5s forwards;
}

.mouse-out {
  animation: decreaseFontWeight 0.5s forwards;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-in-place {
  animation: rotateImage 10s linear infinite;
  -webkit-animation: rotateImage 10s linear infinite;
}

.no-drag {
  -webkit-user-drag: none; 
}